<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuuki.katou.inventory_management_app01.mapper.ReferenceDataMapper">

    <resultMap id="categoryResultMap" type="com.yuuki.katou.inventory_management_app01.entity.Category">
        <result property="categoryID" column="category_id"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>
</mapper>
