[mysqld]
# クライアントの文字セットの自動認識をスキップ
skip-character-set-client-handshake

# サーバーのデフォルトタイムゾーンを日本時間に設定
default-time-zone='+9:00'

# サーバーのデフォルト文字セットと照合順序をUTF-8mb4に設定
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# スロークエリログを有効化し、ログファイルのパスを指定
slow_query_log = 1
slow_query_log_file = /var/log/slow_query.log

# スロークエリの基準時間（秒）を設定
long_query_time = 1

[client]
# クライアントのデフォルト文字セットをUTF-8mb4に設定
default-character-set = utf8mb4
